<body >

<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
    <h2 class="text-center" style="color:black;letter-spacing: .4em;">Airlines Ticket Reservation System</h2>
    </div>
</nav>

<img src="assets/bg.jpg" width="1518" height="540" >
<div  class="container ">
    <div class="align-items-center">
    </div>
    <div class="position-absolute top-50 start-50 translate-middle">
        <a  routerLink="/admin" ><button class="btn btn-dark"> Admin</button></a>
        <a  routerLink="/user" ><button class="btn btn-dark"> User</button></a>
    </div>
</div>


<div style="color: black;" class="fixed-bottom">
    <div style="background: transparent;">Aeroméxico	| AM1	AMX1 |	Mexico City	<-> Madrid | Boeing 787 :arrives at 9am </div>
    <div  style="background: transparent;">American Eagle |	CP1	CPZ1	|San Francisco	<->Los Angeles	|	Embraer 175 :delayed due to bad weather</div>
    <div  style="background: transparent;">Lufthansa|	LH1	DLH1|	Hamburg<->	Frankfurt :depature at 11:30 am	</div>
  </div>
</body>