<div class="position-absolute top-50 start-50 translate-middle">
    <div>
        <div class="container row">
            <h2 style="color:black;letter-spacing: .4em;" class="text-center">Admin</h2>
            <img src="assets/CNT.jpg">
            <div><button style="background-color:skyblue;" (click)="adminlogin()" class="btn btn">Login</button></div>
            <div>
                <button class="btn btn-dark" routerLink="/welcome">Back</button>
            </div>
        </div>
    </div>
</div>