<app-user-dashboard></app-user-dashboard><br>
<br>
<br>
  <div class=" col-md-4 offset-md-3">
    <div >
      <div style="background-color: darkgray; color: black;" class="form-group">
        <label  for="fullname"><b>Name</b></label><pre></pre>
        <label>{{user.user_name}}</label>
       
      </div>
      
      <pre></pre>

      <div style="background-color: darkgray; color: black;">
        <label  class="form-label"><b>Date Of Birth</b></label><pre></pre>
        <label>{{user.date_of_birth}}</label><pre></pre>
      </div>
      
      <div style="background-color: darkgray; color: black;" class="form-group">
        <label for="email"><b>E-mail Address</b></label><pre></pre>
        <label>{{user.email}}</label>
      </div>
      <pre></pre>
      <div style="background-color: darkgray; color: black;" class=" form-group">
        <label><b>Gender</b></label><pre></pre>
        <label>{{user.gender}}</label>
        </div>
      <pre></pre>
    </div>
    <div style="background-color: darkgray; color: black;" class="col-12">
      <label class="form-label"><b>Phone number</b></label><pre></pre>
      <label>{{user.phone_number}}</label>
    </div>
    <pre></pre>
    <div style="background-color: darkgray; color: black;" class="col-12">
      <label class="form-label"><b>Address</b></label><pre></pre>
      <label>{{user.address}}</label>
    </div>
    <pre></pre>
    <div style="background-color: darkgray; color: black;" class="col-12">
      <label class="form-label"><b>Aadhar number</b></label><pre></pre>
      <label>{{user.aadhar_number}}</label>
    </div>
  </div>
