
<app-admin-dashboard>

    <div>
        <img class="photo" src="assets/images.jpeg" height="695px" width="1535px"/> 
    </div>

</app-admin-dashboard>
<br>
<br>
<br>
<br>

<div class="list-group sm" >
    <a  class="list-group-item list-group-item-action " aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">India</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Clear sky</p>
      <small>Alass!! Its fly time. Wear your masks and sanitize frequently.</small>
    </a>
    <a class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">New Zealand</h5>
        <small class="text-muted"> minutes ago</small>
      </div>
      <p class="mb-1">Bad Weather Condition</p>
      <small class="text-muted">Pilot refuses to take off. Seems to be difficult</small>
    </a>
    <a  class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Afganistan</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">Safety assurance for our people</p>
      <small class="text-muted">Boeing to backpack Indians from Afganistan</small>
    </a>
  </div>

